.App {
  background-color: #333333;
  color: whitesmoke;
  min-height: 100vh;
  min-width: 100vw;
}
.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #09d3ac;
}
