.App {
  background-color: #2d313a;
  color: whitesmoke;
  min-height: 100vh;
  min-width: 100vw;
}
.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.App-header * a {
  color: inherit !important;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 1vmin);
}

.Card-header-toggle {
  cursor: pointer;
}
